#steps{
    height: 400px;
    background-image: url('../images/bg-steps.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 0px;

    img {
        width: 120px;
    }
    
    h3{
        font-weight: 700;
        text-transform: uppercase;
        color: #ffffff;
    }

    h4{
        font-weight: 300;
        font-size: 1.0rem;
        color: #fff;
    }
}